---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroContent from '../components/HeroContent.astro';
import { storyblokEditable, renderRichText } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<BaseLayout pageTitle="">
	<main
		class="wrapper"
		id="main-content">
		<HeroContent props={blok} />
		<section
			class="wrapper py-xl pSlide-m-l"
			{...storyblokEditable(blok)}>
			<article>
				<Fragment set:html={content} />
			</article>
		</section>
	</main>
</BaseLayout>
