---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<section class="wrapper py-2xl px-xl">
	<article {...storyblokEditable(blok)}>
		<div class="about-copy mx-2xs">
			<h2>{blok.title}</h2>
			<Fragment set:html={content} />
		</div>
	</article>
</section>
