---
import { Icon } from 'astro-icon/components';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<section class="py-xl pSlide-m-l wrapper">
		<h1 class="accent">404</h1>
		<h2 class="accent">Page Not Found</h2>
		<p class="mb-xl">We couldn't find the page you were looking for.</p>
		<a
			href="/"
			class="btn standard">
			Go to the homepage
			<Icon
				name={'feather:arrow-right'}
				width={24}
			/>
		</a>
	</section>
</BaseLayout>
