---
const { title, image, description } = Astro.props;
---

<article class="container">
	<figure class="portfolio-display full-width">
		<div class="full-width-image">
			<img
				src={image.url}
				alt={image.alt}
			/>
		</div>
		<figcaption class="portfolio-display-content surface-1">
			<h4 class="display-4">{title}</h4>
			<p>{description}</p>
		</figcaption>
	</figure>
</article>
