---
import { Image, getImage } from 'astro:assets';
const { props, content } = Astro.props;
---

<article class="standard-feature">
	<figure class="portfolio-display">
		<div class="portfolio-display-image">
			<Image
				class="standard-feature-image"
				src={props.image.filename}
				alt={props.image.alt}
				width="1440"
				height="720"
				widths={[300, 1065, 1470, 1780]}
				sizes={`(min-width: 1520px) 1065px, (min-width: 1480px) calc(1465vw - 20910px), (min-width: 780px) calc(94.41vw - 331px), (min-width: 420px) 100vw, (min-width: 340px) 28.33vw, calc(-1050vw + 3450px)`}
			/>
		</div>
		<figcaption class="portfolio-display-content surface-1">
			<h3 class="display-3">{props.title}</h3>
			<Fragment set:html={content} />
		</figcaption>
	</figure>
</article>
