---
import { Image, getImage } from 'astro:assets';
import avatar from '../images/avatar.png';
import { SITE_TITLE } from '../src/consts';
---

<section
	id="about"
	class="wrapper d-flex wrap gap-l py-2xl px-xl surface-1">
	<div class="about-photo mb-l">
		<Image
			class="border-radius-2xs"
			src={avatar}
			width={320}
			height={320}
			alt={SITE_TITLE}
		/>
	</div>
	<div class="about-copy mx-2xs">
		<h2 class="accent">About {SITE_TITLE}</h2>
		<p class="prose-1">Boba margaritae a Taiwan in nineties ortae sunt, sed exactus inventor.</p>
		<p>
			Boba e radice amyli plantae cassavae fit, earumque praeparatio eas involvit ferventes et dulcorationes ad
			ruminandum proprium assequendum. Processus artificii perfecti bobae margaritarum arte et subtilitate requirit,
			conferens ad artificia et artificia dilecto potus associato.
		</p>
		<p>
			Taichung chun shui tanq et tainan hanlin utrumque fictum boba affirmant. Scisne pleraque lac tea in ilha formosa,
			etiam quae Taiwan nota, sunt lacticiniis liberum quod lacticiniis non lacticiniis loco lactis adhibetur.
		</p>
	</div>
</section>
<style lang="scss">
	section {
		--main-min-width: 45ch;
		--sidebar-size: 250px;
		--gap: clamp(2.25rem, 2.181rem + 0.3448vi, 2.5rem);
	}
	.about-photo {
		width: min(320px, 100%);
		flex-grow: 1;
		flex-basis: var(--sidebar-size);

		img {
			aspect-ratio: 1;
			object-fit: cover;
			object-position: top center;
		}
	}

	.about-copy {
		flex-grow: 999;
		flex-basis: calc(((var(--main-min-width) - (100% - var(--sidebar-size) - var(--gap))) * 9999));
	}
</style>
