---
import { Image, getImage } from 'astro:assets';
const { title, subtitle, intro, img, alt } = Astro.props;
---

<section
	id="hero"
	class="wrapper img-bg">
	<div class="content p-2xl text-center">
		<h1 class="accent">{title}</h1>
		{subtitle && <h2 class="accent">{subtitle}</h2>}
		{
			intro && (
				<p class="prose-1 text-light m-auto reading-length">
					Boba etiam ut bulla tea est potus dilectus singulari compositione saporum et textuum, quae in Taiwan annis
					1980 orta sunt. Boba refert ad pilas masticas tapiocas in fundo potus inventas, quae typice lacte tea nigro
					sapiuntur. Boba phaenomenon culturale factum est.
				</p>
			)
		}
	</div>
	<Image
		src={img}
		alt={alt}
		inferSize
		loading="eager"
	/>
</section>
<style lang="scss">
	#hero {
		@media (width > 992px) {
			aspect-ratio: 16/5;
		}
		p {
			color: var(--color-light);
		}
	}
</style>
