---
import { SITE_TITLE } from '../src/consts';
---

<section>
	<blockquote class="testimonial wrapper surface-2 p-xl">
		<p class="italic prose-2">
			Pickled grailed gentrify mukbang gorpcore tumeric banjo bruh keffiyeh lomo snackwave gatekeep bodega boys
			vexillologist wolf. Mukbang man braid cardigan salvia bodega boys. 3 wolf moon bushwick. Post-ironic distillery
			gochujang mlkshk.P
		</p>

		<cite class="prose-1 text-end">&mdash; Person McPersonface, CEO, Company, Inc.</cite>
	</blockquote>
</section>
