---
const { current } = Astro.props;
let trail = current.full_slug.split('/').filter((url) => url !== current.slug);
---

<section
	id="breadcrumbs"
	class="container pt-l px-s pb-m">
	<nav>
		<ul class="m-0 p-0 d-flex flex-row wrap gap-s align-content-center">
			<li class="breadcrumb">
				<a
					href="/"
					title="home"
					>Home</a
				>
			</li>
			{
				trail[0] !== '' &&
					trail.map((url) => (
						<li class="breadcrumb">
							<a href={url === 'work' ? `{/#${url}/}` : `{/${url}/}`}>{url}</a>
						</li>
					))
			}

			<li class="breadcrumb">{current.name}</li>
		</ul>
	</nav>
</section>
